#modal-main-container {
    z-index: 2;
    overflow: hidden;
    display: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
}

.modal-content-container {
    margin: 12rem 0px 0px 0px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(247, 248, 250);
    box-shadow: rgb(47 128 237 / 5%) 0px 4px 8px 0px;
    padding:0px 0px 10px 0px;
    width: 50vw;
    overflow: hidden;
    align-self: center;
    max-width: 500px;
    max-height: 80vh;
    min-height: 10vh;
    border-radius: 20px;
    margin-bottom: 50px;
}

.modal-header-container {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    width: 100%;
    display: flex;
    padding: 0px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px 20px 30px 20px;
}

.modal-header-title {
    font-family: "Inter-Medium", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: rgb(0, 0, 0);
}

.modal-header-close-icon-container {
    cursor: pointer;
}

.modal-conversion-items-container {
    /* padding: 20px; */
}

.modal-conversion-item-container {
    display: flex;
    cursor: pointer;
    column-gap: 10px;
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 4px 20px;
    height: 56px;
    display: grid;
    grid-template-columns: auto minmax(auto, 1fr) auto minmax(0px, 72px);
    gap: 16px;
    cursor: pointer;
    opacity: 1;
}

.modal-conversion-item-container.active {
    opacity: 0.5;
}

.modal-conversion-item-container:hover {
    background-color: rgb(237, 238, 242);
}

.modal-conversion-item-label-container {
    display: flex;
    flex-direction: column;
}

.modal-conversion-item-main-label {
    font-size: 16px;
    color: rgb(0, 0, 0);

} 

.modal-conversion-item-sub-label {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-size: 12px;
    font-style: 'Inter-Light';
    color: rgb(136, 141, 155);
}

@media (max-width: 960px){
    .modal-content-container{
        width: 65vw;
    }
}

@media (max-width: 720px) {
    .modal-content-container{
        width: 85vw;
    }
}