
sup,
sub {
    display: inline-block;
}




.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-content-between {
    justify-content: space-between;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.custom-container {
    max-width: 600px;
    padding: 60px 0;
    margin-inline: auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.overlay {
    position: fixed;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.overlay.active {
    z-index: 9999;
    background-color: rgba(59, 60, 74, 0.4);
}

.text-end {
    text-align: end;
    position: relative;
}

.text-end .card-number {
    position: absolute;
    right: 0px;
    top: 0px;
    border-radius: 10px;
}

.card-sidebar-wrapper {
    margin: 0 auto;
    padding-top: 50px;
}

.sidebar-button {
    background: none;
    border: none;
    outline: 0;
    cursor: pointer;
}

.card-sidebar {
    margin: 16px 24px 0px;
    border-radius: 16px;
    box-shadow: rgba(204, 204, 204, 0.5) 0px 0px 48px 16px;
    position: fixed;
    padding: 12px 16px 20px;
    padding-top: 20px;
    width: 370px;
    right: 0px;
    top: 80px;
    bottom: 15px;
    background-color: #fff;
    transform: translateX(120%);
    transition: all ease 0.5s;
    z-index: 12;
}

@media (max-width: 400px) {
    .card-sidebar {
        right: 0px;
        left: 0px;
        top: 0;
        width: 100%;
        margin: 0;
    }
}

.card-sidebar.active {
    transform: translateX(0);
}

.sidebar-header {
    margin-bottom: 20px;
}

.sidebar-header .sidebar-header-left {
    font-size: 22px;
    font-weight: 700;
    color: #2A2A2A;
    cursor:pointer;
}

.sidebar-header .sidebar-header-right {
    color: #16161a99;
}

.sidebar-header .sidebar-header-right .arrow-right {
    color: rgba(22, 22, 26, 0.6);
    height: 40px;
    width: 40px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #F6F6F6;
    border-radius: 10px;
    margin-left: 10px;
}

.badge-red {
    background-color: #E94949;
    color: #fff;
    font-size: 13px;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    margin-left: 10px;
}

.product-item-listing.product-item-listing-style-two {
    background-color: #F6F6F6;
    padding: 12px 8px;
    border-radius: 15px;
}

.product-item-listing.product-item-listing-style-two:not(:last-child) {
    margin-bottom: 15px;
}

.product-item-listing.product-item-listing-style-two .product-item-left .thumb {
    width: 50px;
    height: 50px;
}

.product-item-listing.product-item-listing-style-two .product-item-left .thumb img {
    border-radius: 15px;
}

.product-item-listing.product-item-listing-style-two .product-item-left .content {
    padding-left: 15px;
}

.product-item-listing.product-item-listing-style-two .product-item-left .title {
    font-size: 16px;
    margin-bottom: 10px;
}

.product-item-listing.product-item-listing-style-two .product-item-left .select-wrapper {
    font-size: 15px;
}

.product-item-listing.product-item-listing-style-two .product-item-right .price {
    font-size: 16px;
}

.bottom-cheek-wrapper .total-text {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: #2A2A2A;
    padding: 18px 20px;
    border-radius: 12px;
    background-color: #F6F6F6;
    font-weight: 700;
    margin-bottom: 15px;
}

.cheek-out-btn {
    background-color: #000000;
    color: #fff;
    border-radius: 15px;
    width: 100%;
    padding: 16px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.product-wrapper-one {
    margin: 0 auto;
    position: relative;
}

.product-wrapper-header {
    padding: 25px;
    margin-bottom: 25px;
    position: sticky;
    background: #fff;
    z-index: 11;
}

.product-wrapper-header.sticky {
    border-bottom: 1px solid #ebebeb;
    top: 0px;
}

@media (max-width: 575px) {
    .product-wrapper-header {
        padding: 20px 10px;
        padding-left: 10px;
    }
}

.product-wrapper-header .header-left .logo {
    width: 100%;
    max-width: 100px;
    margin: auto;
    position: relative;
    padding-left: 5px;
    max-height: 50px;
}

.product-wrapper-header .header-left .logo img {
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
    overflow: hidden;
}

.product-wrapper-header .header-left .logo .first-letter-logo {
    position: absolute;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    background-color: #333146;
    align-items: center;
    font-size: 24px;
}

@media (max-width: 575px) {
    .product-wrapper-header .header-left .logo .first-letter-logo {
        font-size: 20px;
    }
}

.product-wrapper-header .header-left .poof-text {
    font-size: 15px;
    color: #333146;
    font-weight: 500;
    padding-left: 15px;
}

@media (max-width: 575px) {
    .product-wrapper-header .header-left .poof-text {
        font-size: 18px;
    }
}

.product-wrapper-header .header-right .cdropdown-toggler {
    font-size: 15px;
    color: #000;
    font-weight: 500;
    cursor: pointer;
}

@media (max-width: 575px) {
    .product-wrapper-header .header-right .cdropdown-toggler {
        font-size: 15px;
    }
}

.product-wrapper-header .header-right .cdropdown-toggler.active ~ img {
    transform: rotate(0deg);
}

.product-wrapper-header .header-right img {
    width: 12px;
    margin-left: 10px;
    transform: rotate(180deg);
    margin-top:3px;
}

@media (max-width: 575px) {
    .product-wrapper-header .header-right img {
        width: 15px;
        margin-left: 5px;
    }
}

.product-wrapper-header .product-header-inner {
    max-width: 600px;
    margin: 0 auto;
}

.product-style-one {
    position: relative;
    max-width: 200px;
    margin: 0 auto;
    border-radius: 10px;
}

@media (max-width: 575px) {
    .product-style-one {
        max-width: 190px;
    }
}

.product-style-one img {
    border-radius: 15px;
    width: 100%;
}

.product-style-one .items-text {
    padding: 5px 20px;
    background-color: #fff;
    border-radius: 25px;
    font-size: 19px;
    color: #2A2A2A;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 130px;
    box-shadow: 0px 2px 5px 1px #2a2a2a3b;
    margin: -20px auto;
    position: relative;
    text-align: center;
    z-index: 3;
    cursor: pointer;
}

.product-style-one .items-text img {
    width: 12px;
    margin-left: 8px;
    transform: rotate(90deg);
    margin-top:3px;
}

@media (max-width: 575px) {
    .product-style-one .items-text img {
        width: 13px;
    }
}

@media (max-width: 575px) {
    .product-style-one .items-text {
        font-size: 17px;
    }
}



.product-wrapper-two {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
}

@media (max-width: 575px) {
    .product-wrapper-two {
        top: 140px;
    }
}
.showup-modal {
    background-color: #fff;
    z-index: 12;
    width: 100%;
    position: absolute;
    top: 80px;
    padding: 25px;
    padding-bottom:35px;
    box-shadow: 0px 13px 9px 1px #00000010;
    border-bottom-right-radius:20px;
    border-bottom-left-radius:20px;
}

@media (max-width: 575px) {
    .showup-modal {
        top: 80px;
    }
}

.showup-modal.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.product-item-listing:not(:last-child) {
    margin-bottom: 25px;
}

.product-item-listing .thumb {
    width: 70px;
    height: 70px;
    border-radius: 5px;
}

@media (max-width: 575px) {
    .product-item-listing .thumb {
        width: 65px;
    }
}

.product-item-listing .thumb img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.product-item-listing .content {
    padding-left: 22px;
}

@media (max-width: 575px) {
    .product-item-listing .content {
        padding-left: 15px;
    }
}

.product-item-listing .content .title {
    font-size: 17px;
    color: #000;
    font-weight:700;
    margin-bottom: 5px;
    line-height: 1;
}

@media (max-width: 575px) {
    .product-item-listing .content .title {
        font-size: 18px;
    }
}

.product-item-listing .content .select-wrapper {
    font-size: 14px;
    color: #807c7c;
}

@media (max-width: 575px) {
    .product-item-listing .content .select-wrapper {
        font-size: 14px;
    }
}

.product-item-listing .content .select-wrapper select {
    border: none;
    font-size: 18px;
    padding-left: 5px;
}

.product-item-listing .content .select-wrapper select:focus {
    border: none;
    outline: 0;
}

.product-item-listing .content .select-wrapper option {
    color: #2A2A2A;
}

.product-item-listing .product-item-right .price {
    font-size: 17px;
    font-weight: 700;
    text-align: end;
    margin-top: 2px;
    margin-bottom: 5px;
    padding-top:7px;
}

@media (max-width: 575px) {
    .product-item-listing .product-item-right .price {
        font-size: 17px;
    }
}

.product-item-listing .product-item-right .price-two {
    font-size: 14px;
    color: #808080;
    margin-top:0px;
}

@media (max-width: 575px) {
    .product-item-listing .product-item-right .price-two {
        font-size: 14px;
    }
}

.accounting-wrapper {
    max-width: 480px;
    margin-left: auto;
    padding-top: 0px;
}

@media (max-width: 575px) {
    .accounting-wrapper {
        padding-top: 0px;
    }
}

.accounting-wrapper .subtotal-wrapper p {
    font-size: 15px;
    color: #2A2A2A;
    font-weight: 700;
    margin:0px;
}

@media (max-width: 575px) {
    .accounting-wrapper .subtotal-wrapper p {
        font-size: 15px;
    }
}

.accounting-wrapper .subtotal-wrapper .subtotal-text {
    font-weight: 500 !important;
}

.accounting-wrapper .shipping-wrapper {
    padding: 20px 0;
    margin: 20px 0;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}

@media (max-width: 575px) {
    .accounting-wrapper .shipping-wrapper {
        padding: 15px 0;
        margin: 15px 0;
    }
}

.accounting-wrapper .shipping-wrapper .promotion-text {
    font-size: 20px;
    color: #006DD2;
    padding-bottom: 30px;
}

@media (max-width: 575px) {
    .accounting-wrapper .shipping-wrapper .promotion-text {
        font-size: 18px;
        padding-bottom: 20px;
    }
}

.accounting-wrapper .shipping-wrapper p {
    font-size: 20px;
    color: #8C8C8C;
}

@media (max-width: 575px) {
    .accounting-wrapper .shipping-wrapper p {
        font-size: 18px;
    }
}

.accounting-wrapper .shipping-wrapper .delivery-text {
    font-size: 18px;
    font-weight: 400;
    margin-top: 5px;
}

@media (max-width: 575px) {
    .accounting-wrapper .shipping-wrapper .delivery-text {
        font-size: 16px;
    }
}

.product-wrapper-three {
    max-width: 600px;
    margin-inline: auto;
    padding: 50px 0;
}

.divider {
    text-align: center;
    padding-top: 40px;
    position: relative;
    z-index: 2;
    color: #8C8C8C;
    font-size: 18px;
}

@media (max-width: 575px) {
    .divider {
        font-size: 16px;
    }
}

.divider::before {
    position: absolute;
    content: "";
    left: 0;
    width: 35%;
    height: 1px;
    bottom: 8px;
    background-color: #ebebeb;
    z-index: -1;
}

@media (max-width: 500px) {
    .divider::before {
        width: 25%;
    }
}

.divider::after {
    position: absolute;
    content: "";
    right: 0;
    width: 35%;
    height: 1px;
    bottom: 8px;
    background-color: #ebebeb;
    z-index: -1;
}

@media (max-width: 500px) {
    .divider::after {
        width: 25%;
    }
}